#range {
    -webkit-appearance: none;
    outline: none;
    background: yellow;
    height: 6px;
    width: 200px;
    border-radius: 5px;
}

/* FIREFOX */
#range::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: yellow;
    cursor: pointer;
}

#range::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: yellow;
    border-radius: 5px;
}